<h1>Create a catalog</h1>
<p>Create a catalog here:</p>

<form action="/catalogs" method="post">
  <label for="catalogName">Catalog name</label>
  <input id="catalogName" name="catalogName" type="text">
  <button type="submit">Create</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/catalogs">Back to catalogs</a></p>