<h1>Records in this Catalog: </h1>

<h2>@Model["record"].Album</h2>
<h3>Catalog: @Model["catalog"].Name</h3>

<a href='/catalogs/@Model["catalog"].Id/records/new'>Add another record</a>
<a href='/catalogs'>Back to catalogs</a>